/*reset css*/

/*reset ele-ui css*/

.el-dialog__wrapper{
    display: flex;
    justify-content:center;
    align-items: center;    
    .el-dialog__title{font-weight: bold}
    .el-dialog{margin-bottom: 0}
    .el-dialog__body{padding-top:0;padding-bottom: 0}
}
.el-dialog__header{padding-bottom: 20px;}

.el-select-dropdown__item{
    list-style: none;
    display: flex;
    justify-content: space-between;
    padding-right: 42px;
    span:nth-of-type(2){
        color: #ccc; font-size: 12px;
        font-weight: 100;
    }
}

.el-collapse-item__header{background-color: #F5F5F5;padding: 0 12px}
.el-collapse-item__header.is-active{background-color: #EEE;font-weight: bold}

.full-dialog{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    height:100vh;
    .el-dialog__body
    {
        flex-grow:1;
        overflow:hidden;
        position:relative;
        .scroll{
            position: absolute;left: 20px;top: 0;bottom: 0;right: 20px;overflow: auto;
        }
    }
    .el-dialog__footer{padding-top:10px;padding-bottom:10px}

    
}
body,#app{margin: 0;padding: 0}
.layout{
    display: flex;
    height: 100vh;
    flex-direction: column;
    >div:nth-child(2){
        flex-grow: 1;
        padding-top: 8px
    }
    .el-menu{
        position:flex;
        top: 0
    }
}

